<div class="form-group type">
  <label for="size">{{name}}</label>
  <input class="form-control attributes" name="attribute{{id}}"  data-id="{{id}}" type="text">
  <small class="form-text text-muted">{{helper}}</small>
</div>
