<form class="product-list-form">
<div class="row">
  {{#each this}}
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" data-index="{{id}}">
    <input type="checkbox" name="batchActions_{{id}}" value="{{id}}">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h4 class="card-title">{{sku}}</h4>
          {{name}}</br>
          {{price}} $</br>
          {{#each attributes}}{{var "index" @index}}{{#xif " type != 'Furniture' " }}<span>{{attribute}}: </span>{{value}} {{measurement}}{{/xif}}{{#xif " type == 'Furniture' " }}{{#xif " index == '0' " }}<span>Dimensions: </span>{{value}}{{/xif}}{{#xif " index > '0' " }}x{{value}}{{/xif}}{{/xif}}{{/each}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="text-center">No products add yet. Please, <a href="#addProduct">add a product</a>.</div>
  {{/each}}
  </div>
  </form>
